@page
@model SaveBullyModel;
@{
    ViewData["Title"] = "American Bully Kennel Club";
}

<div class="text-right">
    <h1 class="display-4">Test project for PDFSharp task</h1>
  <div class="input-group">
    <form method="POST">
        <div class="text-left">
        <label>Print with background</label>
        <input type="checkbox" asp-for="PrintWithBackground" />
        <br>
         <div>Rescued Dog<input asp-for="SaveABully.RescueDog" /></div>
        <div>Breed<input asp-for="SaveABully.Breed" /></div>
        <div>Sex<input asp-for="SaveABully.Gender" /></div>
        <div>Birthdate <input asp-for="SaveABully.Birthday" /></div>
        <div>Rescue Date <input asp-for="SaveABully.RescueDate" /></div>
        <div>Color <input asp-for="SaveABully.Color" /></div>
        <div>OwnedBy <input asp-for="SaveABully.OwnedBy" /></div>
        <div>Ownername<input asp-for="SaveABully.RegisteredOwnerName" /></div>
        <div>Address1 <input asp-for="SaveABully.Address1" /></div>
        <div>Address2 <input asp-for="SaveABully.Address2" /></div>
        <div>Address3 <input asp-for="SaveABully.Address3" /></div>
        <div>Generation date <input asp-for="SaveABully.CertificateGenerationDate" /></div>
        <input type="submit" />
    </form>
</div>