@import "~bootstrap/dist/css/bootstrap.css";

html {
    height: 100%;
    /*min-height: 100%;*/
}

body {
    // padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

// .carousel-item {
//     height:95px;
//     width:300px;
// }
/* Make .svg files in the carousel display properly in older browsers */

// .carousel-inner .item img[src$=".svg"] {
//     width: 100%;
// }
// .banner1Img {
//     background-image: url('../../images/banner1.svg');
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
// }

// .banner2Img {
//     background-image: url('../../images/banner2.svg');
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
// }

// .banner3Img {
//     background-image: url('../../images/banner3.svg');
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
// }

// .banner4Img {
//     background-image: url('../../images/banner4.svg');
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
// }

/* QR code generator */

#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {

    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

h1 {
    color: red;
}

/*allows react-datetime picker to pop up instead of down */

.rdtPickerOpenUpwards .rdtPicker {
    top: auto;
    bottom: 100%;
}